USE [master]
GO
/****** Object:  Database [carservicedb]    Script Date: 10/14/2010 22:49:52 ******/
CREATE DATABASE [carservicedb] ON  PRIMARY 
( NAME = N'carservicedb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\carservicedb.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'carservicedb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\carservicedb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [carservicedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [carservicedb]
GO
/****** Object:  Table [dbo].[SparePart]    Script Date: 10/14/2010 22:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePart](
	[sparepartID] [int] NOT NULL,
	[catalogID] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[price] [money] NULL,
 CONSTRAINT [PK_SparePart] PRIMARY KEY CLUSTERED 
(
	[sparepartID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_SparePart] ON [dbo].[SparePart] 
(
	[sparepartID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Automobile]    Script Date: 10/14/2010 22:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automobile](
	[automobileID] [int] IDENTITY(1,1) NOT NULL,
	[vin] [nvarchar](10) NOT NULL,
	[make] [nvarchar](20) NULL,
	[model] [nvarchar](20) NULL,
	[makeYear] [date] NULL,
	[chassisNumber] [nvarchar](30) NOT NULL,
	[engineNumber] [nvarchar](30) NOT NULL,
	[colour] [nvarchar](30) NULL,
	[engineCub] [int] NULL,
	[description] [nvarchar](max) NULL,
	[owner] [nvarchar](50) NULL,
	[phoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Automobile] PRIMARY KEY CLUSTERED 
(
	[automobileID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [Chassis_IX_Automobile] ON [dbo].[Automobile] 
(
	[chassisNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
